$mobile-height: 60px;

body{
    padding-top: $mobile-height + $gutter-width;
}

.header{
    position: fixed;
    top: 0;
    background-color: $gray-lighter;
}

.nav{
    display:table;

    .nav-item{
        line-height: 1;
        height: $mobile-height;
        display: table-cell;
        vertical-align: middle;
        color: $gray-light;
        background-color: transparent;
        transition: all $transition-speed-normal ease-in-out;

        .icon{
            height: 26px;
        }
        
        &:hover{
            background-color: $gray-light;
            color: $white;
        }
    }
}