.panel-scroller{
    height: 100%;
    width: 100%;

    .panel{
        position:relative;
        height: 100%;

        &:nth-child(2) {
            background: $white;
            box-shadow: 0 0 ($gutter-width * 2) rgba(0, 0, 0, 1);
        }
    }
}