*,
:after,
:before{
    box-sizing:border-box;
}

html,
body{}

.container {
    max-width: 100%;;
    padding-right: $gutter-width;
    padding-left: $gutter-width;
    margin-right: auto;
    margin-left: auto;
}



@include media-tablet-small{

    .container{
        max-width: $tablet-small-width;
    }
}