*,
:after,
:before{
    box-sizing:border-box;
}

html,
body{
    height:100%;
    background-color: $gray-darker;
}

img{
    max-width:100%;
}

.container {
    max-width: 100%;;
    padding-right: $gutter-width;
    padding-left: $gutter-width;
    padding-top: $gutter-width;
    padding-bottom: $gutter-width;
    margin-right: auto;
    margin-left: auto;
}

.home-blurb{
    @include centered();
    text-align:center;
    color: $white;
    //height: 220px;
    width: 100%;    
    
    .logo{
        height: 100px;
        width: 100px;
        background: $white;
        line-height: 100px;
        margin: 0 auto;
        border-radius: 20px;
        color: $gray-darker;
        font-weight: $font-bold;
        font-size: 60px;   
        box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
        //background-image: linear-gradient(0, $white 0, rgba(0,0,0,.2) 50%, $white 50%, $white 100%)
        background-image: linear-gradient(0, rgba(0,0,0,0.25) 0, #fff 50%, #fff 100%);
    }

    h1{
        font-size: 32px;
        margin: 0 0 15px;
        color: $white;
        font-weight: $font-bold;
        text-shadow: 0 5px 5px $black;
    }

    h4{
        color: $gray-lighter;
        margin-bottom: 10px;
    }

    h6{
        color: $gray-lighter;
    }
}

.home-bio{

    .img{
        margin: $gutter-width auto $gutter-width-half;
        height: 160px;
        width: 160px;
        box-shadow: 0 2px 2px #4a4a4a;
    }

    .copy{
        margin: 0;
        padding: $gutter-width $gutter-width-half;
        text-align: center;
    }
}

.home-page{
    font-family: $font-family-fancy;

    .arrow-down{
        color: $gray-lighter;
        position: absolute;
        bottom: 40px;
        height: 30px;
        width: 30px;
        left: 50%;
        margin-left: -15px;
    } 

    .technology-grid{
        text-align:center;

        .title{
            font-weight: $font-bold;
            padding-bottom: $gutter-width;
            background: $gray-lightest;
            padding: $gutter-width-half;
            margin: $gutter-width-half;
            box-shadow: 0 2px 2px rgba(0,0,0,0.25);
        }        
    }
}


@include media-tablet-small{

    .container{
        max-width: $tablet-small-width;
    }
    
    .home-page{
        
        .arrow-down{
            bottom: 50px;
            height: 50px;
            width: 50px;
            margin-left: -25px;
        }       
    }

    .home-blurb{

        h1{
            font-size:50px;
        }

        h4{
            font-size: $font-size-larger;
        }

        h6{
            font-size: $font-size-base;
        }        
    }    
}

@include media-tablet{

    .container{
        max-width: $tablet-width;
        padding-top: $gutter-width*2;
        padding-bottom: $gutter-width*2;
    }

    .home-page{

        .technology-grid{

            .title{
                font-size: $font-size-large;
                padding: $gutter-width;
                margin: 15px;
            }        
        }
    }

    .home-bio{

        .img{
            margin-top: 15px;
            margin-bottom: 35px;
            height: 215px;
            width: 215px;
        }

        .copy{
            font-size: 18px;
            line-height: 26px;
        }
    }    
}

@include media-desktop{

    .container{
        max-width: $desktop-width;
    }

    .home-page{

        .technology-grid{

            .title{
                font-size: 22px;
            }        
        }
    }    
}