*,
:after,
:before{
    box-sizing:border-box;
}

html,
body{
    height:100%;
    background-color: $gray-darker;
}

img{
    max-width:100%;
}

.container {
    max-width: 100%;;
    padding-right: $gutter-width;
    padding-left: $gutter-width;
    padding-top: $gutter-width;
    padding-bottom: $gutter-width;
    margin-right: auto;
    margin-left: auto;
}

.home-blurb{
    @include centered();
    text-align:center;
    color: $white;
    width: 100%;    
    color: $gray-medium;

    h1{
        font-size: 32px;
        margin: 0 0 $gutter-width-half;
        color: $gray-lightest;
        letter-spacing: -1px;
        //font-weight: $font-bold;
        //text-shadow: 0 5px 5px $black;
    }

    h4{   
        margin-bottom: 10px;
        line-height: $line-height-base;
    }
}

.home-bio{

    .img{
        margin: $gutter-width auto $gutter-width-half;
        height: 160px;
        width: 160px;
        box-shadow: 0 2px 2px #4a4a4a;
    }

    .copy{
        margin: 0;
        padding: $gutter-width $gutter-width-half;
        text-align: center;
    }
}

.home-page{
    font-family: $font-family-fancy;

    .arrow-down{
        color: $gray-light;
        position: absolute;
        bottom: 40px;
        height: 30px;
        width: 30px;
        left: 50%;
        margin-left: -15px;
    } 

    .technology-grid{
        text-align:center;

        .title{
            font-weight: $font-bold;
            padding-bottom: $gutter-width;
            background: $gray-lightest;
            padding: $gutter-width-half;
            margin: $gutter-width-half;
            box-shadow: 0 2px 2px rgba(0,0,0,0.25);
        }        
    }
}


@include media-tablet-small{

    .container{
        max-width: $tablet-small-width;
    }
    
    .home-page{
        
        .arrow-down{
            bottom: 50px;
            height: 50px;
            width: 50px;
            margin-left: -25px;
        }       
    }

    .home-blurb{

        h1{
            font-size:50px;
        }

        h4{
            font-size: $font-size-larger;
        }

        h6{
            font-size: $font-size-base;
        }        
    }    
}

@include media-tablet{

    .container{
        max-width: $tablet-width;
        padding-top: $gutter-width*2;
        padding-bottom: $gutter-width*2;
    }

    .home-page{

        .technology-grid{

            .title{
                font-size: $font-size-large;
                padding: $gutter-width;
                margin: 15px;
            }        
        }
    }

    .home-bio{

        .img{
            margin-top: 15px;
            margin-bottom: 35px;
            height: 215px;
            width: 215px;
        }

        .copy{
            font-size: 18px;
            line-height: 28px;
        }
    }    
}

@include media-desktop{

    .container{
        max-width: $desktop-width;
    }

    .home-page{

        .technology-grid{

            .title{
                font-size: 22px;
            }        
        }
    }    
}