body{
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $gray-dark;
}

.sans-serif{
    font-family: $font-family-sans-serif;
}

.serif{
    font-family: $font-family-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin:0;
    line-height: $line-height-heading;
}

h1,
.h1{
    font-size: $font-size-largest;
    font-weight: $font-bold;
}

h2,
.h2{
    font-size: $font-size-larger;
    font-weight: $font-bold;
}

h3,
.h3{
    font-size: $font-size-large;
    font-weight: $font-medium;
}

h4,
.h4{
    font-size: $font-size-base;
    font-weight: $font-bold;
}

h5,
.h5{
    font-size: $font-size-small;
    font-weight: $font-bold;
}

h6,
.h6{
    font-size: $font-size-smaller;
    font-weight: $font-medium;
}

/* pre {
    display: block;
    padding: $gutter-width;
    margin: 0;
    font-size: $font-size-smaller;
    word-break: break-all;
    word-wrap: break-word;
    background-color: $gray-lightest;
    border: 1px solid $gray-light;
    overflow-x: scroll;
}
 */